NODE_ENV=development 
# Get the Client ID and Secret from the Developer Portal
# https://developer.bigcommerce.com/api-docs/apps/quick-start#register-a-draft-app

CLIENT_ID=
CLIENT_SECRET=

# Test locally with ngrok
# https://developer.bigcommerce.com/api-docs/apps/guide/development#testing-locally-with-ngrok

AUTH_CALLBACK=https://usually-pro-shad.ngrok-free.app/api/auth

# Replace jwt key with a 32+ random character secret

JWT_KEY=
COOKIE_KEY=

# DATABASE_URL={mysql://db_address}

MYSQL_HOST=localhost
MYSQL_DATABASE=bc_app
MYSQL_USERNAME=root
MYSQL_PASSWORD=admin
MYSQL_PORT=3306
DATABASE_URL=mysql://${MYSQL_USERNAME}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}

# Most users do not need to change this
ENVIRONMENT=bigcommerce.com
LOGIN_URL=login.${ENVIRONMENT}
API_URL=api.${ENVIRONMENT}
